<div class="dash">
  <div class="container">
    <div class="dashboard p-3">
    <h1 class="title fw-bold fs-2 pb-3">Settings</h1>
    <div class="items">
      <div class="row">
        <app-controll class="col-lg-12 item"></app-controll>
        <app-general class="col-lg-12 item"></app-general>
        <app-security class="col-lg-12 item"></app-security>
        <app-social class="col-lg-12 item"></app-social>
        <app-widgets class="col-lg-12 item"></app-widgets>
        <app-backup class="col-lg-12 item"></app-backup>
      </div>
    </div>
    </div>
  </div>
</div>
