<div class="boxes p-4 bg-white d-flex gap-3">
  <div class="box1">
    <h2 class="fs-4 fw-bold">Site Control</h2>
    <span class="fs-7">Control The Website If There Is Maintenance</span>
  </div>
  <div class="box2 d-flex">
    <div class="info">
      <h4 class="py-1 my-1">Website Control</h4>
      <span class="fs-8">Open/Close Website And Type The Reason</span>
    </div>
    <div class="btn">
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>
  </div>
  <div class="box3">
    <textarea placeholder="Close Message Content" class="p-2"></textarea>
  </div>
</div>
