<div class="boxes p-4 bg-white d-flex gap-3">
  <div class="box1">
    <h2 class="fs-4 fw-bold">Social Info</h2>
    <span class="fs-7">Social Media Information</span>
  </div>
  <div class="box2 d-flex gap-3">
    <div class="inp d-flex gap-2">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <input type="text" placeholder="Twitter Username">
    </div>
    <div class="inp d-flex gap-2">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <input type="text" placeholder="Facebook Username">
    </div>
    <div class="inp d-flex gap-2">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <input type="text" placeholder="Twitter Linkedin">
    </div>
    <div class="inp d-flex gap-2">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
        <input type="text" placeholder="Youtube Username">
    </div>
  </div>
</div>
