<div class="boxes p-4 bg-white d-flex gap-3">
  <div class="box1">
    <h2 class="fs-4 fw-bold">Widgets Control</h2>
    <span class="fs-7">Show/Hide Widgets</span>
  </div>
  <div class="box2 d-flex gap-3">
    <div class="inp d-flex gap-2">
      <input type="checkbox" id="draft">
      <label for="draft">Quick Draft</label>
    </div>
    <div class="inp d-flex gap-2">
      <input type="checkbox" id="targets">
      <label for="targets">Yearly Targets</label>
    </div>
    <div class="inp d-flex gap-2">
      <input type="checkbox" id="tickets">
      <label for="tickets">Tickets Statistics</label>
    </div>
    <div class="inp d-flex gap-2">
      <input type="checkbox" id="news">
      <label for="news">Latest News</label>
    </div>
    <div class="inp d-flex gap-2">
      <input type="checkbox" id="tasks">
      <label for="tasks">Latest Tasks</label>
    </div>
    <div class="inp d-flex gap-2">
      <input type="checkbox" id="search">
      <label for="search">Top Search Items</label>
    </div>
  </div>
</div>
