<div class="boxes p-4 bg-white d-flex gap-3">
  <div class="box1">
    <h2 class="fs-4 fw-bold">Security Info</h2>
    <span class="fs-7">Security Information About Your Account</span>
  </div>
  <div class="box2 d-flex pb-4" style="border-bottom: 1px #eeee solid;">
    <div class="info">
      <h4 class="py-1 my-1">Password</h4>
      <span class="fs-8">Last Change On 25/10/2021</span>
    </div>
    <div class="btn change">
      <button class="btn btn-primary py-1 px-2">Change</button>
    </div>
  </div>
  <div class="box2 d-flex pb-4" style="border-bottom: 1px #eee solid;">
    <div class="info">
      <h4 class="py-1 my-1">Two-Factor Authentication</h4>
      <span class="fs-8">Enable/Disable The Feature</span>
    </div>
    <div class="btn">
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>
  </div>
  <div class="box2 d-flex">
    <div class="info">
      <h4 class="py-1 my-1">Devices</h4>
      <span class="fs-8">Check The Login Devices List</span>
    </div>
    <div class="btn">
      <button class="py-1 px-2 btn btn-primary" style="background-color: #eee ;color: #000;border: none;">
        Devices
      </button>
    </div>
  </div>
</div>
