<div class="boxes row justify-content-between">
  <div class="item d-flex bg-white col-lg-6 col-md-12 p-3">
    <div class="title d-flex p-4 mb-4">
      <h3>Free</h3>
      <span>
        <i class="fa fa-dollar" aria-hidden="true"></i>
        0.00
      </span>
    </div>
    <div class="body d-flex">
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Access All Text Lessons</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Access All Videos Lessons</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Appear On Leaderboard</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-times" aria-hidden="true"></i>
          <p>Appear On Leaderboard</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-times" aria-hidden="true"></i>
          <p>Access All Assignments</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-times" aria-hidden="true"></i>
          <p>Get Daily Prizes</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-times" aria-hidden="true"></i>
          <p>Earn Certificate</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-times" aria-hidden="true"></i>
          <p>1 GB Space For Hosting Files</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-times" aria-hidden="true"></i>
          <p>Access Badge System</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
    </div>
    <div class="button">
      <button class="btn btn-success">Join</button>
    </div>
  </div>

  <div class="item d-flex bg-white col-lg-6 col-md-12 p-3 blue">
    <div class="title d-flex p-4 mb-4">
      <h3>Basic</h3>
      <span>
        <i class="fa fa-dollar" aria-hidden="true"></i>
        7.99
      </span>
    </div>
    <div class="body d-flex">
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Access All Text Lessons</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Access All Videos Lessons</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Appear On Leaderboard</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Appear On Leaderboard</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Access All Assignments</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Get Daily Prizes</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Earn Certificate</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-times" aria-hidden="true"></i>
          <p>1 GB Space For Hosting Files</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-times" aria-hidden="true"></i>
          <p>Access Badge System</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
    </div>
    <div class="button">
      <button class="btn btn-success">Join</button>
    </div>
  </div>

  <div class="item d-flex bg-white col-lg-6 col-md-12 p-3 orange">
    <div class="title d-flex p-4 mb-4">
      <h3>Premium</h3>
      <span>
        <i class="fa fa-dollar" aria-hidden="true"></i>
        19.99
      </span>
    </div>
    <div class="body d-flex">
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Access All Text Lessons</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Access All Videos Lessons</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Appear On Leaderboard</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Appear On Leaderboard</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Access All Assignments</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Get Daily Prizes</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Earn Certificate</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>1 GB Space For Hosting Files</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
      <div class="box d-flex justify-content-between">
        <div class="advantages d-flex">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Access Badge System</p>
      </div>
      <div class="more">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      </div>
    </div>
    <div class="button">
      <button class="btn btn-success">Join</button>
    </div>
  </div>
</div>
