<div class="items">
  <div class="row justify-content-between">
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/pdf.svg" alt="img">
        <h3>my-file.pdf</h3>
      </div>
      <div class="box d-flex">
        <span>Elzero</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>20/06/2020</span>
        </div>
        <div class="size">
          <span>5.5MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/avi.svg" alt="img">
        <h3>my-file.avi</h3>
      </div>
      <div class="box d-flex">
        <span>Admin</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>12.5MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/eps.svg" alt="img">
        <h3>my-file.eps</h3>
      </div>
      <div class="box d-flex">
        <span>Uploader</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>2.7MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/psd.svg" alt="img">
        <h3>my-file.psd</h3>
      </div>
      <div class="box d-flex">
        <span>Osama</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>15.1MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/dll.svg" alt="img">
        <h3>my-file.dll</h3>
      </div>
      <div class="box d-flex">
        <span>Coder</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>2.2MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/png.svg" alt="img">
        <h3>my-file.png</h3>
      </div>
      <div class="box d-flex">
        <span>Designer</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>1.1MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/dll.svg" alt="img">
        <h3>my-file.dll</h3>
      </div>
      <div class="box d-flex">
        <span>Coder</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>2.2MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/png.svg" alt="img">
        <h3>my-file.png</h3>
      </div>
      <div class="box d-flex">
        <span>Designer</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>1.1MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/psd.svg" alt="img">
        <h3>my-file.psd</h3>
      </div>
      <div class="box d-flex">
        <span>Osama</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>15.1MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/pdf.svg" alt="img">
        <h3>my-file.pdf</h3>
      </div>
      <div class="box d-flex">
        <span>Elzero</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>20/06/2020</span>
        </div>
        <div class="size">
          <span>5.5MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/avi.svg" alt="img">
        <h3>my-file.avi</h3>
      </div>
      <div class="box d-flex">
        <span>Admin</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>12.5MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/eps.svg" alt="img">
        <h3>my-file.eps</h3>
      </div>
      <div class="box d-flex">
        <span>Uploader</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>2.7MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/pdf.svg" alt="img">
        <h3>my-file.pdf</h3>
      </div>
      <div class="box d-flex">
        <span>Elzero</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>20/06/2020</span>
        </div>
        <div class="size">
          <span>5.5MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/avi.svg" alt="img">
        <h3>my-file.avi</h3>
      </div>
      <div class="box d-flex">
        <span>Admin</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>12.5MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/eps.svg" alt="img">
        <h3>my-file.eps</h3>
      </div>
      <div class="box d-flex">
        <span>Uploader</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>2.7MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/psd.svg" alt="img">
        <h3>my-file.psd</h3>
      </div>
      <div class="box d-flex">
        <span>Osama</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>15.1MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/dll.svg" alt="img">
        <h3>my-file.dll</h3>
      </div>
      <div class="box d-flex">
        <span>Coder</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>2.2MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/png.svg" alt="img">
        <h3>my-file.png</h3>
      </div>
      <div class="box d-flex">
        <span>Designer</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>1.1MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/dll.svg" alt="img">
        <h3>my-file.dll</h3>
      </div>
      <div class="box d-flex">
        <span>Coder</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>2.2MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/png.svg" alt="img">
        <h3>my-file.png</h3>
      </div>
      <div class="box d-flex">
        <span>Designer</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>1.1MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/psd.svg" alt="img">
        <h3>my-file.psd</h3>
      </div>
      <div class="box d-flex">
        <span>Osama</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>15.1MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/pdf.svg" alt="img">
        <h3>my-file.pdf</h3>
      </div>
      <div class="box d-flex">
        <span>Elzero</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>20/06/2020</span>
        </div>
        <div class="size">
          <span>5.5MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/avi.svg" alt="img">
        <h3>my-file.avi</h3>
      </div>
      <div class="box d-flex">
        <span>Admin</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>12.5MB</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-2 col-lg-4 col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-download" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/eps.svg" alt="img">
        <h3>my-file.eps</h3>
      </div>
      <div class="box d-flex">
        <span>Uploader</span>
      </div>
      <hr style="color: #eee;opacity: 1;margin: 10px 0px;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>16/5/2021</span>
        </div>
        <div class="size">
          <span>2.7MB</span>
        </div>
      </div>
    </div>
  </div>
</div>
