<div class="boxes p-4 bg-white d-flex gap-3">
  <div class="box1 mb-2">
    <h2 class="fs-4 fw-bold">Backup Manager</h2>
    <span class="fs-7">Control Backup Time And Location</span>
  </div>
  <div class="box2 d-flex gap-3">
    <div class="inp d-flex gap-2">
      <input type="radio" id="Daily" name="radio">
      <label for="Daily">Daily</label>
    </div>
    <div class="inp d-flex gap-2">
      <input type="radio" id="Weekly" name="radio">
      <label for="Weekly">Weekly</label>
    </div>
    <div class="inp d-flex gap-2">
      <input type="radio" id="Monthly" name="radio">
      <label for="Monthly">Monthly</label>
    </div>
  </div>
  <hr>
  <div class="box3 d-flex gap-2">
    <input type="radio" name="server" id="server-1">
    <div class="server mb-2 d-flex align-center justify-content-center col-lg-4 col-12">
      <label for="server-1" class="d-flex">
        <i class="fa fa-server" aria-hidden="true"></i>
        Megaman
      </label>
    </div>

    <input type="radio" name="server" id="server-2" checked>
    <div class="server mb-2 d-flex align-center justify-content-center col-lg-4 col-12">
      <label for="server-2" class="d-flex">
        <i class="fa fa-server" aria-hidden="true"></i>
        Megaman
      </label>
    </div>

    <input type="radio" name="server" id="server-3">
    <div class="server mb-2 d-flex align-center justify-content-center col-lg-4 col-12">
      <label for="server-3" class="d-flex">
        <i class="fa fa-server" aria-hidden="true"></i>
        Megaman
      </label>
    </div>
  </div>
</div>
