<div class="tab">
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Finish Date</td>
        <td>Client</td>
        <td>Price</td>
        <td>Team</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ministry Wikipedia</td>
        <td>10 May 2022</td>
        <td>Ministry</td>
        <td>$5300</td>
        <td><div class="d-flex">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-04.png" alt="img">
        </div></td>
        <td><span class="pending">Pending</span></td>
      </tr>
      <tr>
        <td>Elzero Shop</td>
        <td>12 Oct 2021</td>
        <td>Elzero Company</td>
        <td>$1500</td>
        <td><div class="d-flex">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-04.png" alt="img">
        </div></td>
        <td><span class="prog">In Progress</span></td>
      </tr>
      <tr>
        <td>Bouba App</td>
        <td>05 Sep 2021</td>
        <td>Bouba</td>
        <td>$800</td>
        <td><div class="d-flex">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
        </div></td>
        <td><span class="completed">Completed</span></td>
      </tr>
      <tr>
        <td>Mahmoud Website</td>
        <td>22 May 2021</td>
        <td>Mahmoud</td>
        <td>$600</td>
        <td><div class="d-flex">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
        </div></td>
        <td><span class="completed">Completed</span></td>
      </tr>
      <tr>
        <td>Sayed Website</td>
        <td>24 May 2021</td>
        <td>Sayed</td>
        <td>$300</td>
        <td><div class="d-flex">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
        </div></td>
        <td><span class="rejected">Rejected</span></td>
      </tr>
      <tr>
        <td>Arena Application</td>
        <td>01 Mar 2021</td>
        <td>Arena Company</td>
        <td>$2600</td>
        <td><div class="d-flex">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-05.png" alt="img">
        </div></td>
        <td><span class="completed">Completed</span></td>
      </tr>
    </tbody>
  </table>
</div>
