<div class="welcome py-3">
  <div class="box1 p-3">
    <div class="details">
      <h2 class="fs-3">Reminders</h2>
    </div>
  </div>
  <div class="boxes px-3 d-flex">
    <div class="box d-flex">
      <div class="image">
        <span></span>
      </div>
      <div class="details d-flex">
        <span></span>
        <h3 class="px-3 fw-bold">Check My Tasks List</h3>
        <span>28/09/2022 - 12:00am</span>
      </div>
    </div>
    <div class="box d-flex">
      <div class="image green">
        <span></span>
      </div>
      <div class="details d-flex">
        <span></span>
        <h3 class="px-3 fw-bold">Check My Projects</h3>
        <span>26/10/2022 - 12:00am</span>
      </div>
    </div>
    <div class="box d-flex">
      <div class="image orange">
        <span></span>
      </div>
      <div class="details d-flex">
        <span></span>
        <h3 class="px-3 fw-bold">Call All My Clients</h3>
        <span>05/11/2022 - 12:00am</span>
      </div>
    </div>
    <div class="box d-flex">
      <div class="image red">
        <span></span>
      </div>
      <div class="details d-flex">
        <span></span>
        <h3 class="px-3 fw-bold">Finish The Development Workshop</h3>
        <span>20/12/2022 - 12:00am</span>
      </div>
    </div>
  </div>
</div>
