<div class="boxes p-4 bg-white d-flex gap-3">
  <div class="box1">
    <h2 class="fs-4 fw-bold">General Info</h2>
    <span class="fs-7">Control The Website If There Is Maintenance</span>
  </div>
  <div class="box2 d-flex gap-3">
    <div class="inp d-flex gap-2">
      <label>First Name</label>
      <input type="text" placeholder="First Name" class="w-100 p-2">
    </div>
    <div class="inp d-flex gap-2">
      <label>LAst Name</label>
      <input type="text" placeholder="Last Name" class="w-100 p-2">
    </div>
    <div class="inp d-flex gap-2">
      <label>Email</label>
      <div class="email">
        <input type="email" placeholder="a@nn.sa" class="p-2">
        <a>Change</a>
      </div>
    </div>
  </div>
</div>
