<div class="welcome p-4">
  <div class="box1">
    <div class="details">
      <h2 class="fs-3">Social Media Stats</h2>
    </div>
  </div>
  <div class="boxes d-flex">
      <div class="details d-flex">
        <div class="img d-flex">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="info d-flex mx-3">
          <span>90K</span>
          <span>Followers</span>
        </div>
        <button class="time">Follow</button>
      </div>
      <div class="details d-flex facebook">
        <div class="img d-flex">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="info d-flex mx-3">
          <span>90K</span>
          <span>Followers</span>
        </div>
        <button class="time">Follow</button>
      </div>
      <div class="details d-flex youtube">
        <div class="img d-flex">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </div>
        <div class="info d-flex mx-3">
          <span>90K</span>
          <span>Followers</span>
        </div>
        <button class="time">Follow</button>
      </div>
      <div class="details d-flex linkedin">
        <div class="img d-flex">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </div>
        <div class="info d-flex mx-3">
          <span>90K</span>
          <span>Followers</span>
        </div>
        <button class="time">Follow</button>
      </div>
  </div>
</div>
