<div class="welcome p-5">
  <div class="box1">
      <h2 class="fs-3">Latest Tasks</h2>
  </div>
  <div class="boxes d-flex">
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="info d-flex mx-3">
          <h3>Record One New Video</h3>
          <span>Record Python Create Exe Project</span>
        </div>
      </div>
      <i class="fa fa-trash-o icon" aria-hidden="true"></i>
    </div>
    <hr>
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="info d-flex mx-3">
          <h3>Write Article</h3>
          <span>Write Low Level vs High Level Languages</span>
        </div>
      </div>
      <i class="fa fa-trash-o icon" aria-hidden="true"></i>
    </div>
    <hr>
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="info d-flex mx-3">
          <h3>Finish Project</h3>
          <span>Publish Academy Programming Project</span>
        </div>
      </div>
      <i class="fa fa-trash-o icon" aria-hidden="true"></i>
    </div>
    <hr>
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="info d-flex mx-3">
          <h3 style="text-decoration: line-through;color: #888;opacity: 0.5;">Attend The Meeting</h3>
          <span style="text-decoration: line-through;color: #888;opacity: 0.5;">Attend The Project Business Analysis Meeting</span>
        </div>
      </div>
      <i style="opacity: 0.2;" class="fa fa-trash-o icon" aria-hidden="true"></i>
    </div>
    <hr>
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="info d-flex mx-3">
          <h3>Finish Lesson</h3>
          <span>Finish Teaching Flex Box</span>
        </div>
      </div>
        <i class="fa fa-trash-o icon" aria-hidden="true"></i>
    </div>
  </div>
</div>
