<div class="welcome">
  <div class="box1 p-3">
    <div class="details">
      <h2 class="fs-3">Tickets Statistics</h2>
      <span class="fs-5">Everything About Support Tickets</span>
    </div>
  </div>
  <div class="boxes px-3">
    <div class="row">
      <div class="box d-flex py-lg-4 px-lg-5 col-lg-5 col-md-5 orange">
        <i class="fa fa-list-alt" aria-hidden="true"></i>
          <span>2500</span>
          <h4>Total</h4>
      </div>
      <div class="box d-flex py-lg-4 px-lg-5 col-lg-5 col-md-5 blue">
        <i class="fa fa-spinner" aria-hidden="true"></i>
          <span>500</span>
          <h4>Pending</h4>
      </div>
      <div class="box d-flex py-lg-4 px-lg-5 col-lg-5 col-md-5 green">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <span>1900</span>
          <h4>Closed</h4>
      </div>
      <div class="box d-flex py-lg-4 px-lg-5 col-lg-5 col-md-5 red">
        <i class="fa fa-window-close-o" aria-hidden="true"></i>
          <span>100</span>
          <h4>Deleted</h4>
      </div>
  </div>
  </div>
</div>
