<div class="welcome py-2 px-3">
  <div class="title">
      <h2 class="fs-3 py-3 m-0">Latest Post</h2>
  </div>
  <div class="box2 d-flex">
    <div class="img">
      <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/avatar.png" alt="img">
    </div>
    <div class="details">
      <h4 class="fw-bold">Osama Elzero</h4>
      <span>About 3 Hours Ago</span>
    </div>
  </div>
  <hr>
  <div class="box3 py-3">
   <div class="text">
    <p class="fs-6">
      You Can Fool All Of The People Some Of The Time, And Some Of The People All Of The Time, But You Can't Fool All Of The People All Of The Time.
    </p>
   </div>
   </div>
  <hr>
  <div class="box4 d-flex py-3">
    <div class="love">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <span> 1.8K</span>
    </div>
    <div class="message">
      <i class="fa fa-comments-o" aria-hidden="true"></i>
      <span>500</span>
    </div>
  </div>
</div>
