<div class="welcome py-3">
  <div class="box1 p-3">
    <div class="details">
      <h2 class="fs-3">Yearly Targets</h2>
      <span class="fs-5">Targets Of The Year</span>
    </div>
  </div>
  <div class="boxes px-3 d-flex">
    <div class="box d-flex dolar">
      <div class="icon d-flex">
        <i class="fa fa-dollar" aria-hidden="true"></i>
      </div>
      <div class="details d-flex">
        <h4>Money</h4>
        <span>$20.000</span>
        <div><span style="width: 80%;"></span></div>
      </div>
    </div>
    <div class="box d-flex code">
      <div class="icon d-flex">
        <i class="fa fa-code" aria-hidden="true"></i>
      </div>
      <div class="details d-flex">
        <h4>Projects</h4>
        <span>24</span>
        <div><span style="width: 55%;"></span></div>
      </div>
    </div>
    <div class="box d-flex user">
      <div class="icon d-flex">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <div class="details d-flex">
        <h4>Team</h4>
        <span>12</span>
        <div><span style="width: 75%;"></span></div>
      </div>
    </div>
  </div>
</div>
