.dash{
  background-color: #f1f5f9;
  @media (max-width:576px) {
    .dashboard{
      padding: 8px !important;
    }
  }
  .dashboard{
    .title{
      position: relative;
      width: fit-content;
      &::after{
        content: "";
        width: 85%;
        height: 3px;
        background-color: #fff;
        bottom: 0;
        left: 0%;
        position: absolute;
        z-index: 0;
      }
      &::before{
        content: "";
        width: 35%;
        height: 3px;
        background-color: #000;
        bottom: 0;
        left: 0%;
        position: absolute;
        z-index: 2;
      }
    }
  }
}
