.welcome{
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  .box1{
    margin-bottom: 10px;
    .details{
      display: flex;
      flex-direction: column;
      span{
        font-size: 14px !important;
        color: #888;
      }
    }
  }
  .boxes{
    flex-direction: column;
    justify-content: space-between;
    .box{
      align-items: center;
      position: relative;
      &::after{
        content: "";
        position: absolute;
        width: 2px;
        height: 80%;
        left: 10px;
        top: 0%;
        background-color: #0075ff;
        z-index: 0;
      }
    .details{
      position: relative;
      align-items: center;
      margin-bottom: 30px;
      span{
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #0075ff;
        border: 3px solid #fff;
        outline: 2px solid #0075ff;
        z-index: 3;
        &.four{
          animation: transparent 1.2s linear 1s infinite running ;
          @keyframes transparent {
            from{
              background-color: #0075ff;
            }
            to{
              background-color: white;
            }
          }
        }
      }
      p{
        margin: 0%;
        padding: 0%;
        font-size: 16px;
      }
      }
    }
  }
  img{
    max-width: 100%;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0%;
    bottom: 0%;
    opacity: 0.1;
  }
  @media (max-width:768px) {
    img{
      display: none;
    }
  }
}
