<div class="welcome py-3">
  <div class="box1 p-3">
    <div class="details">
      <h2 class="fs-3">Last Project Progress</h2>
    </div>
  </div>
  <div class="boxes px-3 d-flex">
    <div class="box">
      <div class="details d-flex">
        <span></span>
        <p class="px-3">Got The Project</p>
      </div>
      <div class="details d-flex">
        <span></span>
        <p class="px-3">Started The Project</p>
      </div>
      <div class="details d-flex">
        <span></span>
        <p class="px-3">The Project About To Finish</p>
      </div>
      <div class="details d-flex">
        <span class="four"></span>
        <p class="px-3">Test The Project</p>
      </div>
      <div class="details d-flex">
        <span style="background-color: transparent;"></span>
        <p class="px-3">Finish The Project & Get Money</p>
      </div>
    </div>
      <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/project.png" alt="img">
  </div>
</div>
