<div class="items d-flex gap-3">
  <div class="item d-flex gap-2 p-3 bg-white orange">
    <div class="info d-flex gap-5">
      <div class="details">
        <h3>Elzero Dashboard</h3>
        <span>Elzero Dashboard Project Design And Programming And Hosting</span>
      </div>
      <div class="persons d-flex gap-2">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-04.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-05.png" alt="img">
      </div>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="skills d-flex">
      <span>Programming</span>
      <span>Design</span>
      <span>Hosting</span>
      <span>Marketing</span>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="prog d-flex">
      <div class="progress">
          <span style="width: 50%;"></span>
      </div>
      <div class="price">
        <i class="fa fa-dollar" aria-hidden="true"></i>
        <span>2500</span>
      </div>
    </div>
    <div class="span history">15/10/2021</div>
  </div>
  <div class="item d-flex gap-2 p-3 bg-white green">
    <div class="info d-flex gap-5">
      <div class="details">
        <h3>Academy Portal</h3>
        <span>Academy Portal Project Design And Programming</span>
      </div>
      <div class="persons d-flex gap-2">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
      </div>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="skills d-flex">
      <span>Programming</span>
      <span>Design</span>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="prog d-flex">
      <div class="progress">
          <span style="width: 75%;"></span>
      </div>
      <div class="price">
        <i class="fa fa-dollar" aria-hidden="true"></i>
        <span>1800</span>
      </div>
    </div>
    <div class="span history">15/6/202215/6/2022</div>
  </div>
  <div class="item d-flex gap-2 p-3 bg-white blue">
    <div class="info d-flex gap-5">
      <div class="details">
        <h3>Chatting Application</h3>
        <span>Chatting Application Project Design</span>
      </div>
      <div class="persons d-flex gap-2">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
      </div>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="skills d-flex">
      <span>Design</span>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="prog d-flex">
      <div class="progress">
          <span style="width: 100%;"></span>
      </div>
      <div class="price">
        <i class="fa fa-dollar" aria-hidden="true"></i>
        <span>950</span>
      </div>
    </div>
    <div class="span history">15/6/2022</div>
  </div>
  <div class="item d-flex gap-2 p-3 bg-white green">
    <div class="info d-flex gap-5">
      <div class="details">
        <h3>Ahmed Dashboard</h3>
        <span>Ahmed Dashboard Project Design And Programming And Hostin</span>
      </div>
      <div class="persons d-flex gap-2">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-04.png" alt="img">
      </div>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="skills d-flex">
      <span>Programming</span>
      <span>Design</span>
      <span>Hosting</span>
      <span>Marketing</span>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="prog d-flex">
      <div class="progress">
          <span style="width: 60%;"></span>
      </div>
      <div class="price">
        <i class="fa fa-dollar" aria-hidden="true"></i>
        <span>1700</span>
      </div>
    </div>
    <div class="span history">15/10/2021</div>
  </div>
  <div class="item d-flex gap-2 p-3 bg-white green">
    <div class="info d-flex gap-5">
      <div class="details">
        <h3>Ahmed Portal</h3>
        <span>Ahmed Portal Project Design And Programming</span>
      </div>
      <div class="persons d-flex gap-2">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
      </div>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="skills d-flex">
      <span>Programming</span>
      <span>Design</span>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="prog d-flex">
      <div class="progress">
          <span style="width: 70%;"></span>
      </div>
      <div class="price">
        <i class="fa fa-dollar" aria-hidden="true"></i>
        <span>850</span>
      </div>
    </div>
    <div class="span history">15/10/2021</div>
  </div>
  <div class="item d-flex gap-2 p-3 bg-white orange">
    <div class="info d-flex gap-5">
      <div class="details">
        <h3>Mohamed Application</h3>
        <span>Mohamed Application Project Design</span>
      </div>
      <div class="persons d-flex gap-2">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
      </div>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="skills d-flex">
      <span>Design</span>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="prog d-flex">
      <div class="progress">
          <span style="width: 40%;"></span>
      </div>
      <div class="price">
        <i class="fa fa-dollar" aria-hidden="true"></i>
        <span>950</span>
      </div>
    </div>
    <div class="span history">15/10/2021</div>
  </div>
  <div class="item d-flex gap-2 p-3 bg-white green">
    <div class="info d-flex gap-5">
      <div class="details">
        <h3>Mohamed Dashboard</h3>
        <span>Mohamed Dashboard Project Design And Programming And Hosting</span>
      </div>
      <div class="persons d-flex gap-2">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-04.png" alt="img">
      </div>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="skills d-flex">
      <span>Programming</span>
      <span>Design</span>
      <span>Hosting</span>
      <span>Marketing</span>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="prog d-flex">
      <div class="progress">
          <span style="width: 67%;"></span>
      </div>
      <div class="price">
        <i class="fa fa-dollar" aria-hidden="true"></i>
        <span>1950</span>
      </div>
    </div>
    <div class="span history">15/10/2021</div>
  </div>
  <div class="item d-flex gap-2 p-3 bg-white green">
    <div class="info d-flex gap-5">
      <div class="details">
        <h3>Mohamed Portal</h3>
        <span>Mohamed Portal Project Design And Programming</span>
      </div>
      <div class="persons d-flex gap-2">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
      </div>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="skills d-flex">
      <span>Programming</span>
      <span>Design</span>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="prog d-flex">
      <div class="progress">
          <span style="width: 60%;"></span>
      </div>
      <div class="price">
        <i class="fa fa-dollar" aria-hidden="true"></i>
        <span>1650</span>
      </div>
    </div>
    <div class="span history">15/10/2021</div>
  </div>
  <div class="item d-flex gap-2 p-3 bg-white green">
    <div class="info d-flex gap-5">
      <div class="details">
        <h3>Ahmed Application</h3>
        <span>Ahmed Application Project Design</span>
      </div>
      <div class="persons d-flex gap-2">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
        <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
      </div>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="skills d-flex">
      <span>Design</span>
    </div>
    <hr style="color: #eee; opacity: 1;">
    <div class="prog d-flex">
      <div class="progress">
          <span style="width: 90%;"></span>
      </div>
      <div class="price">
        <i class="fa fa-dollar" aria-hidden="true"></i>
        <span>950</span>
      </div>
    </div>
    <div class="span history">15/10/2021</div>
  </div>
</div>
