<div class="welcome py-3">
  <div class="box1 px-3">
    <div class="details">
      <h2 class="fs-3">Latest Activities</h2>
      <span>Latest Activities Done By The User</span>
    </div>
  </div>
  <div class="boxes px-3 d-flex">
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/activity-01.png" alt="img">
        </div>
        <div class="info d-flex mx-3">
          <h3>Store</h3>
          <span>Bought The Mastering Python Course</span>
        </div>
      </div>
      <div class="time d-flex">
        <p>18:10</p>
        <span>Yesterday</span>
      </div>
    </div>
    <hr style="color: #eee !important;opacity: 1 !important;">
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/activity-02.png" alt="img">
        </div>
        <div class="info d-flex mx-3">
          <h3>Academy</h3>
          <span>Got The PHP Certificate</span>
        </div>
      </div>
      <div class="time d-flex">
        <p>16:05</p>
        <span>Yesterday</span>
      </div>
    </div>
    <hr style="color: #eee !important;opacity: 1 !important;">
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/activity-03.png" alt="img">
        </div>
        <div class="info d-flex mx-3">
          <h3>Badges</h3>
          <span>Unlocked The 10 Skills Badge</span>
        </div>
      </div>
      <div class="time d-flex">
        <p>18:05</p>
        <span>Yesterday</span>
      </div>
    </div>
    <hr style="color: #eee !important;opacity: 1 !important;">
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/activity-01.png" alt="img">
        </div>
        <div class="info d-flex mx-3">
          <h3>Store</h3>
          <span>Bought The Mastering Python Course</span>
        </div>
      </div>
      <div class="time d-flex">
        <p>12:05</p>
        <span>Yesterday</span>
      </div>
    </div>
  </div>
</div>
