<div class="dash">
  <div class="container">
    <div class="dashboard p-3">
    <h1 class="title fw-bold fs-2 py-3">Dashboard</h1>
    <div class="items">
      <div class="row">
        <app-welcome class="col-lg-6 col-md-12 col-sm-12 col-12 item"></app-welcome>
        <app-quick class="col-lg-6 col-md-12 col-sm-12 col-12 item"></app-quick>
        <app-targets class="col-lg-6 col-md-12 col-sm-12 col-12 item"></app-targets>
        <app-tickets class="col-lg-6 col-md-12 col-sm-12 col-12 item"></app-tickets>
        <app-news class="col-lg-6 col-md-12 col-sm-12 col-12 item"></app-news>
        <app-tasks class="col-lg-6 col-md-12 col-sm-12 col-12 item"></app-tasks>
        <app-search class="col-lg-6 col-md-12 col-sm-12 col-12 item"></app-search>
        <app-uploads class="col-lg-6 col-md-12 col-sm-12 col-12 item"></app-uploads>
        <app-project class="col-lg-6 col-md-12 col-sm-12 col-12 item"></app-project>
        <app-reminds class="col-lg-6 col-md-12 col-sm-12 col-12 item"></app-reminds>
        <app-post class="col-lg-6 col-md-12 col-sm-12 col-12 item"></app-post>
        <app-media class="col-lg-6 col-md-12 col-sm-12 col-12 item"></app-media>
        <!-- <app-table class="col-12"></app-table> -->
      </div>
    </div>
    </div>
  </div>
</div>
