<div class="items">
  <div class="row justify-content-between">
    <div class="item d-flex bg-white py-3 px-4  col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/friend-01.jpg" alt="img">
        <h3>Ahmed Nasser</h3>
        <span>JavaScript Developer</span>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="details d-flex justify-content-between">
        <div class="statics">
          <div class="box d-flex">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <span>99</span>
            <span>Friend</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span>15</span>
            <span>Projects</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span>25</span>
            <span>Articles</span>
          </div>
        </div>
        <div class="image">
          VIP
        </div>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>Joined</span>
          <span>02/10/2021</span>
        </div>
        <div class="buttons">
          <button class="btn btn-primary">Profile</button>
          <button class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-3 px-4  col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/friend-02.jpg" alt="img">
        <h3>Omar Fathy</h3>
        <span>Cloud Developer</span>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="details d-flex justify-content-between">
        <div class="statics">
          <div class="box d-flex">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <span>30</span>
            <span>Friend</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span>11</span>
            <span>Projects</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span>12</span>
            <span>Articles</span>
          </div>
        </div>
        <div class="image">

        </div>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>Joined</span>
          <span>02/08/2020</span>
        </div>
        <div class="buttons">
          <button class="btn btn-primary">Profile</button>
          <button class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-3 px-4  col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/friend-03.jpg" alt="img">
        <h3>Omar Ahmed</h3>
        <span>Mobile Develope</span>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="details d-flex justify-content-between">
        <div class="statics">
          <div class="box d-flex">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <span>80</span>
            <span>Friend</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span>20</span>
            <span>Projects</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span>18</span>
            <span>Articles</span>
          </div>
        </div>
        <div class="image">

        </div>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>Joined</span>
          <span>02/06/2020</span>
        </div>
        <div class="buttons">
          <button class="btn btn-primary">Profile</button>
          <button class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-3 px-4  col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/friend-04.jpg" alt="img">
        <h3>Shady Nabil</h3>
        <span>Back-End Developer</span>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="details d-flex justify-content-between">
        <div class="statics">
          <div class="box d-flex">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <span>70</span>
            <span>Friend</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span>30</span>
            <span>Projects</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span>18</span>
            <span>Articles</span>
          </div>
        </div>
        <div class="image">

        </div>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>Joined</span>
          <span>28/06/2020</span>
        </div>
        <div class="buttons">
          <button class="btn btn-primary">Profile</button>
          <button class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-3 px-4  col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/friend-05.jpg" alt="img">
        <h3>Mohamed Ibrahim</h3>
        <span>Algorithm Developer</span>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="details d-flex justify-content-between">
        <div class="statics">
          <div class="box d-flex">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <span>70</span>
            <span>Friend</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span>30</span>
            <span>Projects</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span>18</span>
            <span>Articles</span>
          </div>
        </div>
        <div class="image">

        </div>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>Joined</span>
          <span>28/08/2020</span>
        </div>
        <div class="buttons">
          <button class="btn btn-primary">Profile</button>
          <button class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-3 px-4  col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/friend-04.jpg" alt="img">
        <h3>Amr Hendawy</h3>
        <span>Back-End Developer</span>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="details d-flex justify-content-between">
        <div class="statics">
          <div class="box d-flex">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <span>70</span>
            <span>Friend</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span>30</span>
            <span>Projects</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span>18</span>
            <span>Articles</span>
          </div>
        </div>
        <div class="image">

        </div>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>Joined</span>
          <span>28/06/2020</span>
        </div>
        <div class="buttons">
          <button class="btn btn-primary">Profile</button>
          <button class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-3 px-4  col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/friend-04.jpg" alt="img">
        <h3>Amr Hendawy</h3>
        <span>Back-End Developer</span>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="details d-flex justify-content-between">
        <div class="statics">
          <div class="box d-flex">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <span>70</span>
            <span>Friend</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span>30</span>
            <span>Projects</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span>18</span>
            <span>Articles</span>
          </div>
        </div>
        <div class="image">

        </div>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>Joined</span>
          <span>28/06/2020</span>
        </div>
        <div class="buttons">
          <button class="btn btn-primary">Profile</button>
          <button class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-3 px-4  col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/friend-02.jpg" alt="img">
        <h3>Mahmoud Adel</h3>
        <span>Cloud Developer</span>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="details d-flex justify-content-between">
        <div class="statics">
          <div class="box d-flex">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <span>30</span>
            <span>Friend</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span>11</span>
            <span>Projects</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span>12</span>
            <span>Articles</span>
          </div>
        </div>
        <div class="image">
          VIP
        </div>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>Joined</span>
          <span>02/08/2020</span>
        </div>
        <div class="buttons">
          <button class="btn btn-primary">Profile</button>
          <button class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-3 px-4  col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/friend-05.jpg" alt="img">
        <h3>Ahmed Abuzaid</h3>
        <span>Content Creator</span>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="details d-flex justify-content-between">
        <div class="statics">
          <div class="box d-flex">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <span>70</span>
            <span>Friend</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span>30</span>
            <span>Projects</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span>18</span>
            <span>Articles</span>
          </div>
        </div>
        <div class="image">
          VIP
        </div>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>Joined</span>
          <span>28/08/2020</span>
        </div>
        <div class="buttons">
          <button class="btn btn-primary">Profile</button>
          <button class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white py-3 px-4  col-md-6 col-sm-12">
      <div class="contact d-flex">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="friendInf d-flex gap-1 justify-content-center">
        <img class="img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/friend-01.jpg" alt="img">
        <h3>Gareeb Elshiekh</h3>
        <span>JavaScript Developer</span>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="details d-flex justify-content-between">
        <div class="statics">
          <div class="box d-flex">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <span>99</span>
            <span>Friend</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span>15</span>
            <span>Projects</span>
          </div>
          <div class="box d-flex">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span>25</span>
            <span>Articles</span>
          </div>
        </div>
        <div class="image">

        </div>
      </div>
      <hr style="color: #eee;opacity: 1;">
      <div class="actions d-flex justify-content-between">
        <div class="history">
          <span>Joined</span>
          <span>02/10/2021</span>
        </div>
        <div class="buttons">
          <button class="btn btn-primary">Profile</button>
          <button class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
