<div class="items">
  <div class="row gap-4">
    <div class="item d-flex bg-white col-md-6 col-12">
      <div class="box1">
        <img class="main" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/course-01.jpg" alt="img">
        <img class="person" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
      </div>
      <div class="box2">
        <h2>Mastering Web Design</h2>
        <p>Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture
        </p>
      </div>
      <div class="main-title d-flex">
        <h4>Course Info</h4>
      </div>
      <div class="box3 d-flex">
        <div class="person">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>950</span>
        </div>
        <div class="price">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <span>165</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white col-md-6 col-sm-12">
      <div class="box1">
        <img class="main img-fluid" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/course-02.jpg" alt="img">
        <img class="person" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
      </div>
      <div class="box2">
        <h2>Mastering Web Design</h2>
        <p>Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture
        </p>
      </div>
      <div class="main-title d-flex">
        <h4>Course Info</h4>
      </div>
      <div class="box3 d-flex">
        <div class="person">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>950</span>
        </div>
        <div class="price">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <span>165</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white col-md-6 col-sm-12">
      <div class="box1">
        <img class="main" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/course-03.jpg" alt="img">
        <img class="person" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
      </div>
      <div class="box2">
        <h2>Mastering Web Design</h2>
        <p>Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture
        </p>
      </div>
      <div class="main-title d-flex">
        <h4>Course Info</h4>
      </div>
      <div class="box3 d-flex">
        <div class="person">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>950</span>
        </div>
        <div class="price">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <span>165</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white col-md-6 col-sm-12">
      <div class="box1">
        <img class="main" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/course-04.jpg" alt="img">
        <img class="person" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
      </div>
      <div class="box2">
        <h2>Mastering Web Design</h2>
        <p>Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture
        </p>
      </div>
      <div class="main-title d-flex">
        <h4>Course Info</h4>
      </div>
      <div class="box3 d-flex">
        <div class="person">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>950</span>
        </div>
        <div class="price">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <span>165</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white col-md-6 col-sm-12">
      <div class="box1">
        <img class="main" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/course-05.jpg" alt="img">
        <img class="person" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
      </div>
      <div class="box2">
        <h2>Mastering Web Design</h2>
        <p>Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture
        </p>
      </div>
      <div class="main-title d-flex">
        <h4>Course Info</h4>
      </div>
      <div class="box3 d-flex">
        <div class="person">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>950</span>
        </div>
        <div class="price">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <span>165</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white col-md-6 col-sm-12">
      <div class="box1">
        <img class="main" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/course-02.jpg" alt="img">
        <img class="person" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
      </div>
      <div class="box2">
        <h2>Mastering Web Design</h2>
        <p>Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture
        </p>
      </div>
      <div class="main-title d-flex">
        <h4>Course Info</h4>
      </div>
      <div class="box3 d-flex">
        <div class="person">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>950</span>
        </div>
        <div class="price">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <span>165</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white col-md-6 col-sm-12">
      <div class="box1">
        <img class="main" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/course-03.jpg" alt="img">
        <img class="person" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
      </div>
      <div class="box2">
        <h2>Mastering Web Design</h2>
        <p>Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture
        </p>
      </div>
      <div class="main-title d-flex">
        <h4>Course Info</h4>
      </div>
      <div class="box3 d-flex">
        <div class="person">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>950</span>
        </div>
        <div class="price">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <span>165</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white col-md-6 col-sm-12">
      <div class="box1">
        <img class="main" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/course-02.jpg" alt="img">
        <img class="person" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-02.png" alt="img">
      </div>
      <div class="box2">
        <h2>Mastering Web Design</h2>
        <p>Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture
        </p>
      </div>
      <div class="main-title d-flex">
        <h4>Course Info</h4>
      </div>
      <div class="box3 d-flex">
        <div class="person">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>950</span>
        </div>
        <div class="price">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <span>165</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white col-md-6 col-sm-12">
      <div class="box1">
        <img class="main" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/course-01.jpg" alt="img">
        <img class="person" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
      </div>
      <div class="box2">
        <h2>Mastering Web Design</h2>
        <p>Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture
        </p>
      </div>
      <div class="main-title d-flex">
        <h4>Course Info</h4>
      </div>
      <div class="box3 d-flex">
        <div class="person">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>950</span>
        </div>
        <div class="price">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <span>165</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white col-md-6 col-sm-12">
      <div class="box1">
        <img class="main" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/course-01.jpg" alt="img">
        <img class="person" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-01.png" alt="img">
      </div>
      <div class="box2">
        <h2>Mastering Web Design</h2>
        <p>Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture
        </p>
      </div>
      <div class="main-title d-flex">
        <h4>Course Info</h4>
      </div>
      <div class="box3 d-flex">
        <div class="person">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>950</span>
        </div>
        <div class="price">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <span>165</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white col-md-6 col-sm-12">
      <div class="box1">
        <img class="main" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/course-03.jpg" alt="img">
        <img class="person" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
      </div>
      <div class="box2">
        <h2>Mastering Web Design</h2>
        <p>Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture
        </p>
      </div>
      <div class="main-title d-flex">
        <h4>Course Info</h4>
      </div>
      <div class="box3 d-flex">
        <div class="person">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>950</span>
        </div>
        <div class="price">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <span>165</span>
        </div>
      </div>
    </div>
    <div class="item d-flex bg-white col-md-6 col-sm-12">
      <div class="box1">
        <img class="main" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/course-04.jpg" alt="img">
        <img class="person" src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/team-03.png" alt="img">
      </div>
      <div class="box2">
        <h2>Mastering Web Design</h2>
        <p>Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture
        </p>
      </div>
      <div class="main-title d-flex">
        <h4>Course Info</h4>
      </div>
      <div class="box3 d-flex">
        <div class="person">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>950</span>
        </div>
        <div class="price">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <span>165</span>
        </div>
      </div>
    </div>
  </div>
</div>
