<div class="welcome p-4">
  <div class="box1">
    <div class="details">
      <h2 class="fs-3">Latest Uploads</h2>
    </div>
  </div>
  <div class="boxes d-flex">
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/pdf.svg" alt="img">
        </div>
        <div class="info d-flex mx-3">
          <h3>my-file.pdf</h3>
          <span>Elzero</span>
        </div>
      </div>
      <span class="time">2.9mb</span>
    </div>
    <hr>
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/avi.svg" alt="img">
        </div>
        <div class="info d-flex mx-3">
          <h3>My-Video-File.avi</h3>
          <span>Admin</span>
        </div>
      </div>
      <span class="time">4.9mb</span>
    </div>
    <hr>
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/psd.svg" alt="img">
        </div>
        <div class="info d-flex mx-3">
          <h3>My-Psd-File.pdf</h3>
          <span>Osama</span>
        </div>
      </div>
      <span class="time">8.9mb</span>
    </div>
    <hr>
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/zip.svg" alt="img">
        </div>
        <div class="info d-flex mx-3">
          <h3>My-Zip-File.pdf</h3>
          <span>User</span>
        </div>
      </div>
        <span class="time">4.9mb</span>
    </div>
    <hr>
    <div class="box d-flex">
      <div class="details d-flex">
        <div class="img">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/imgs/dll.svg" alt="img">
        </div>
        <div class="info d-flex mx-3">
          <h3>My-Eps-File.pdf</h3>
          <span>Designer</span>
        </div>
      </div>
        <span class="time">8.9mb</span>
    </div>
  </div>
</div>
